@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-color: var(--color-primary) var(--color-secondary);
    scrollbar-width: thin;
  }
}
