.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}
.slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* slide left  */
.slide-left-enter-active,
.slide-left-leave-active {
  transition:
    transform 300ms cubic-bezier(0.2, 0.8, 0.2, 1),
    opacity 200ms ease;
  will-change: transform, opacity;
}

/* Giriş (enter) */
.slide-left-enter-from {
  transform: translateX(100%); /* sağdan başla */
  opacity: 0;
}
.slide-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}

/* Çıkış (leave) */
.slide-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave-to {
  transform: translateX(-25%); /* çıkarken hafif sola kayıp opaklaşsın */
  opacity: 0;
}

/* Mobil/performans: donanım hızlandırma */
.slide-left-enter-active,
.slide-left-leave-active {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
